.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
}

.subtitle {
  margin-top: 24px;
}

.hearts {
  display: flex;
  flex-wrap: wrap;
}

.heart {
  width: 24px;
  height: 24px;
  display: block;
  background: #ff5252;
  /* background-image: url('../assets/images/euebolota.jpeg'); */
  background-size: cover;
  background-position: center;
  clip-path: path(
    "M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"
  );
  transform: scale(1);
}

.description {
  margin-top: 24px;
}
